<div class="filtro-container">
    <div class="filtro__grupo">
        <select name="prioridad" id="filtro-prioridad-seguimiento">
            <option selected disabled>Seleccione la prioridad</option>
            {{#each prioridades}}
            <option>{{Nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div class="filtro__grupo">
        <select name="tipo" id="filtro-tipo-seguimiento">
            <option selected disabled>Seleccione el tipo</option>
            {{#each tipos}}
            <option>{{Nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="btnSeguimientoEnviado">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Enviado</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="btnSeguimientoProceso">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">En proceso</span>
        </button>
    </div>
    <div class="filtro__grupo">
        <button class="filtro__boton" id="btnSeguimientoAtendido">
            <span>
                <i></i>
            </span>
            <span class="filtro__nombre">Atendido</span>
        </button>
    </div>
</div>

<div class="solicitudes-container solicitudes-container--admin" id="solicitudes">
    <input type="hidden" value="{{coordinador}}" id="txtCategoria">
    {{#each solicitudes}}
    <section class="solicitud">
        <header class="solicitud__cabecera">
            <h3 class="solicitud__titulo"><span class="solicitud__numero">#{{math @index "+" 1}} </span>{{Estudiante}}
            </h3>
            <h4 class="solicitud__titulo"><span class="solicitud__encabezado">{{Encabezado}}</span></h4>
        </header>
        <main class="solicitud__cuerpo">
            <ul class="solicitud__atributos">
                <li class="solicitud__atributoGrupo"><span class="solicitud__atributo">Prioridad: </span>{{Prioridad}}
                </li>
                <li class="solicitud__atributoGrupo"><span class="solicitud__atributo">Fecha: </span>{{Fecha}}</li>
                <li class="solicitud__atributoGrupo"><span class="solicitud__atributo">Tipo: </span>{{Tipo}}</li>
                <li class="solicitud__atributoGrupo"><span class="solicitud__atributo">Estado: </span>{{Estado}}</li>
            </ul>
            <a class="solicitud__boton" href="/coorSeguimiento/solicitud/detalles/{{Id}}">Detalles</a>
        </main>
    </section>
    {{/each}}
</div>