{{>secretariaFiltroMenu}}

<section class="containerSeguimiento containerSeguimiento--admin">
    <div>
        <a class="seguimiento__volver" href="/secretaria">Volver</a>
    </div>
    <header class="seguimiento">
        <div class="seguimiento__cabecera">
            <h2 class="seguimiento__encabezado">{{solicitud.Encabezado}}</h2>
            <a href="/secretaria/solicitud/cerrar/{{solicitud.Id}}" class="seguimiento__btnCerrar">Cerrar</a>
        </div>
        <p class="seguimiento__descripcion">{{solicitud.Descripcion}}</p>
        <div class="seguimiento__atributos">
            <ul class="seguimiento__lista">
                <li class="seguimiento__atributo">{{estudiante.CodigoUAC}}</li>
                <li class="seguimiento__atributo">{{estudiante.Nombre}}</li>
                <li class="seguimiento__atributo">{{estudiante.Apellidos}}</li>
            </ul>
            <ul class="seguimiento__lista">
                <li class="seguimiento__atributo">{{solicitud.Fecha}}</li>
                <li class="seguimiento__atributo">{{solicitud.Estado}}</li>
                <li class="seguimiento__atributo">{{solicitud.Tipo}}</li>
                <li class="seguimiento__atributo">{{solicitud.Categoria}}</li>
                {{#if solicitud.tieneArchivos}}
                {{#each solicitud.archivos}}
                <li class="seguimiento__atributo"><a class="seguimiento__archivo" target="_blank" href="/secretaria/descarga/{{Id}}">Archivo</a></li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </header>
    {{#each archivosMensajes}}
    <main class="mensajes">
        <span class="mensajes__fecha">{{Fecha}}</span>
        <p class="mensajes__cuerpo">{{Cuerpo}}</p>
        {{#if tieneArchivos}}
        {{#each archivos}}
        
        <a class="mensajes__archivo" target="_blank" href="/secretaria/descarga/{{Id}}">Archivo</a>
        
        {{/each}}
        {{/if}}
    </main>
    {{/each}}
    <form class="chat" method="post" action="/secretaria/solicitud/nuevo-mensaje" enctype="multipart/form-data" id="form-seguimientoMensaje">
        <input type="hidden" name="solicitudId" value="{{solicitud.Id}}">
        <input type="hidden" name="coordinacion" value="{{coordinacion}}">
        <input class="chat__archivo" type="file" name="archivo-mensaje">
        <textarea class="chat__entrada" name="mensaje" id="chat-mensaje"></textarea>
        <button class="chat__enviar">
            Enviar
        </button>
    </form>
    <div id="error-container" class="error-container"></div>
</section>